@font-face {
    font-family: "Montserrat";
    src: url("../fonts/Montserrat-Regular.ttf");
}

@font-face {
    font-family: "Myriad Pro";
    src: url("../fonts/MYRIADPRO-REGULAR.otf");
}

body {
/*      width: 1920px; */
    background-color: white;
    margin: 0;
    font-family: "Montserrat", serif;
cursor:default;
padding:20px;
box-sizing:border-box;
}
.container {
max-width:1200px;
 margin:0 auto;   
}

/* HEADER */
header {
/*      width: 100%;  /*1720px */ */
/*      height: 100px; */
/*      margin: 0 auto; */
     background-color: white;
     display: flex;
     /* justify-content:space-around; */
     align-items: center;
}
header .container {
width:1600px;
display:flex;
justify-content:space-between;
align-items:center; 
height:100px; 
/* background-color:red;   */
}
.logo-block {
display:flex;
align-items:center;    
}
.logo {
/*     margin-left: 275px; */
}

.header-caption {
    margin:0 0 0 30px;
    font-size: 18px;
}

.header-tel-block {
/*     margin-left: 480px; */
}

.telefon {
    margin: 0;
    font-size: 24px;
}

.tel-block-info {
    margin: 0 0 0 80px;
    font-size: 12px;
}

/* MAIN-HEADER */
.main-header {
/*     width: 1720px; */
    height: 550px;
    margin: 0 auto;
    background: url(../images/фон.jpg) center center no-repeat;
    background-size:cover;
    position: relative;
}

.bitter-image {
    width: 290px;
    height: 644px;
    padding:90px 0 0 130px;
/*     position: absolute;
    left: 24%;
    top: 17%; */
}

/* main-header-caption-block------- */
.main-header-caption-block {
    display: flex;
    color: white;
    width: 570px;
    height: 454px;
    position: absolute;
    left: 51%;
    top: 30%;
    flex-direction: column;
}

.caption-block-name {
    font-size: 14px;
    font-weight: bold;
    margin: 0;
}

.caption {
    font-size: 60px;
    font-weight: 600;
    margin: 20px 0;
}

.main-block-info {
    font-size: 18px;
}

.main-block-button {
    color: white;
    border: 25px solid #7eb252;
    text-decoration: none;
    width: 500px;
    height: 20px;
    text-align: center;
    
    /*     padding-top:25px; */
    background-color: #7eb252;
    margin: 190px 0 0 0;
}

/* SECTION-INFO---------------- */
.info-block {
    max-width: 1140px;
    height: 300px;
    margin: 300px auto 0 auto;
    display: flex;
}

.info-block-card {
    width: 270px;
    height: 300px;
}

.info-card-caption {
    font-size: 24px;
    margin: 0 30px;
    color: #bad3a8;
    font-weight: 900;
}

.info-card-caption::after {
    content: "";
    width: 80px;
    height: 3px;
    display: block;
    background-color: #bad3a8;
}

.info-block-card:nth-child(2) .info-card-caption::after {
    content: "";
    width: 90px;
    height: 3px;
    display: block;
    background-color: #bad3a8;
}

.info-block-card:nth-child(3) .info-card-caption::after {
    content: "";
    width: 160px;
    height: 3px;
    display: block;
    background-color: #bad3a8;
}

.info-block-card:nth-child(4) .info-card-caption::after {
    content: "";
    width: 105px;
    height: 3px;
    display: block;
    background-color: #bad3a8;
}

.info-card-span {
    font-size: 16px;
}

.info-card-info {
    font-size: 16px;
    line-height: 24px;
    margin: 10px 30px;
}

/* INF0-BLOCK2--------------- */
.info-block2 {
    max-width: 1400px;
    height: 820px;
    margin: 0 auto;
    /* background-color:lightgrey; */
    position: relative;
    /* display:flex; */
    background: url(../images/фон_2.jpg);
}

.info-block2-caption {
    width: 500px;
    /* display:inline; */
    font-weight: bold;
    font-size: 40px;
    line-height: 50px;
    /* margin:0px 0; */
    position: absolute;
    left: 100px;
}

.infoblock2-list {
    max-width: 1200px;
    height: 700px;
    display: flex;
}

.block2-list {
    width: 600px;
    padding-top: 150px;
    padding-left: 70px;
    /* counter-reset: li; */
    position: relative;
}

.block2-list-li {
    font-weight: 700;
    font-size: 14px;
    padding: 50px 0 0 100px;
    list-style: none;
    counter-increment: li;
    display: relative;
}

.block2-list-li::before {
    content: counter(li);
    /* counter-increment: list-counter; */
    position: absolute;
    left: 100px;
    font-weight: 900;
    color: #bad3a8;
    font-size: 14px;
    /* line-height:20px; */
}

.info-block2-main-image {
    margin: 0 0 0 70px;
}

.block2-button {
    color: white;
    border: 15px solid #7eb252;
    text-decoration: none;
    width: 480px;
    height: 20px;
    text-align: center;
    padding-top: 10px;
    background-color: #7eb252;
    position: absolute;
    right: 14%;
    bottom: 2%;
}

.block2-button img {
    padding-left: 10px;
}

/* SECTION-3 ------------*/
.section3 {/*     max-width: 1820px; *//* height: 748px; */display: flex;margin: 200px auto 0 auto;}
.section3 .container {display:flex;/* background-color:red; */}
.section3-left-block {
    width: 874px;
/*     height: 715px; */
    position: relative;
    background:url('../images/image3.jpg') -60px 0;
background-size:875px 640px;
/* overflow:visible; */

}
.section3-left-block-image {
/* max-width:100%; */
/* display:none; */

}
.section3-button {
    width: 568px;
    height: 70px;
    background-color: #7eb252;
    color: white;
    font-size: 14px;
    font-weight: 500;
    position: absolute;
    right: 0;
    bottom:0;
    border:none;
}

.section3-info {
    width: 60%;
    /* height:14%; */
    position: absolute;
    right: -1px;
    bottom: 5%;
    background-color: white;
    border: 40px solid white;
    font-size: 16px;
    font-weight: 500;
    line-height: 22px;
    font-family: "Montserrat" , serif;
    text-align: center;
}

 .section3-info::after {
    content: "sdsdss"; 
    border: 3px solid; 
   width: 470px;
    height: 140px;
    display: block;
    position: absolute;
    bottom: -65px;
    border-color: #edf3e8;
} 

/* SECTION-3-RIGHT-BLOCK--------------- */
.section3-right-block {
    max-width: 500px;
    /* height: 655px; */
    margin-left: 70px;
}

.section3-right-caption {
    font-size: 40px;
    font-weight: bolder;
    line-height: 50px;
}

.section3-right-subcaption {
    font-size: 14px;
    font-weight: bold;
}

.section3-list {
    list-style-type: none;
    position: relative;
}

.section3-list-li::before {
    content: url("../icons/стрелка_1.png");
    position: absolute;
    left: 0;
    /*   top:10px;  */
}

.section3-list-li {
    font-size: 16px;
    line-height: 22px;
    margin-bottom: 56px;
}

/* SECTION-4----------------- */
.section4 {
/*     width: 1820px; */
    height: 650px;
    margin: 100px auto 0 auto;
    background: url("../images/фон_2.jpg") 10% 100% no-repeat ;
    background-size: contain;
}

.section4-title {
    font-size: 40px;
    line-height: 50px;
    font-weight: bolder;
/*     padding-left: 300px; */
    margin: 0;
}

.section4-cards-block {
/*     width: 1170px; */
/*     height: 350px; */
    margin: 40px auto 0 auto;
    background-color: white;
}

.section4-card {
    width: 360px;
    height: 320px;
    text-align: center;
    position: relative;
    display: table-cell;
    vertical-align: bottom;
}

.section4-card-bg {
    position: absolute;
    top: 25%;
    left: 25%;
}

.section4-card-bg2 {
    position: absolute;
    top: 29%;
    left: 35%;
}

.section4-card-title {
    font-size: 14px;
    font-weight: bolder;
    margin-bottom: 80px;
}

/* SECTION-5--------------------- */
.section5 {
    max-width: 1170px;
    height: 930px;
    margin: 200px auto 0 auto;
    display: flex;
}

.section5-left-block {
    width: 600px;
    height: 870px;
    display: flex;
    flex-wrap: wrap;
}

.section5-card {
    width: 270px;
    height: 270px;
    position: relative;
    margin-right: 30px;
}

.section5-list-item {
    /* counter-increment: li; */
}

.section5-list-item li::before {
    /* content: counter(li);
position:absolute;
left:0;
top:0;
font-weight:900;
color:#bad3a8;
font-size:34px;     */
}

.section5-card-bg {
    /*     position:absolute; */
    /*    left:5%;
   top:20%; */
}

.section5-card-bg2 {
    opacity: 0.9;
    width: 80%;
    position: absolute;
    top: 10%;
    left: 10%;
}

.section5-card-title {
    font-size: 14px;
    font-weight: bolder;
    line-height: 20px;
    position: absolute;
    top: 40%;
    left: 18%;
    color: white;
}

.section5-card-subtitle {
    font-size: 14px;
    transform: rotate(-90deg);
    font-family: "Myriad" , serif;
    width: 180px;
    /*   margin:0; */
    position: absolute;
    right: -25%;
    bottom: 30%;
    color: #7eb252;
}

/* LAST-ITEM-LIST-------------- */
.question {
    position: absolute;
    left: 25%;
    top: 20%;
}

.section5-card:nth-child(6n) p {
    /*   color:red; */
}

.section5-card:nth-child(6n) .section5-card-bg2 {
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0.6;
}

.section5-card:nth-child(6n) .section5-card-title {
    color: black;
    font-size: 14px;
    font-weight: bolder;
    line-height: 22px;
}

/* SECTION-5-RIGHT-BLOCK--------- */
.section5-right-block {
    width: 537px;
    height: 870px;
    margin-left: 20px;
    position: relative;
}

.section5-right-block-title {
    font-size: 40px;
    font-weight: bolder;
}

.section5-list {
}

.section5-list-item {
    font-size: 16px;
    line-height: 22px;
    margin-bottom: 40px;
}

.section5-right-button {
    width: 350px;
    height: 60px;
    background-color: #7eb252;
    color: white;
    position: absolute;
    right: 0;
    bottom: 25px;
    border: none;
}

/* ---SECTION6--ГАРАНТІЯ-ЯКОСТІ */
.section6 {
    max-width: 1820px;
    height: 729px;
    margin: 100px auto 0 auto;
    background: url("../images/сертификат.png") 77% 0 no-repeat, url("../images/фон_2.jpg") 0 100% no-repeat;
    background-size: 20%,145%;
    position: relative;
}

.section6-title {
    font-size: 40px;
    font-weight: bolder;
    position: absolute;
    left: 320px;
}

.section6-subtitle {
    font-size: 14px;
    line-height: 24px;
    font-weight: bolder;
    position: absolute;
    left: 370px;
    top: 150px;
    text-transform: uppercase;
display:inline-block;
}

.section6-info {
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    position: absolute;
    left: 370px;
    bottom: 150px;
    background-color: white;
    border: 100px solid white;
display:inline-block;
}

.section6-button {
    width: 350px;
    height: 60px;
    background-color: #7eb252;
    color: white;
    position: absolute;
    left: 568px;
    bottom: 165px;
    border: none;
    text-align: center;
    
}

/* ----FOOTER------------- */
footer {
  
    height: 110px;
    margin:0 auto;
    display: flex;
    align-items: center;
}
footer .container {
display:flex;
/* background-color:red; */
width:1600px;
align-items:center;
}


.footer-list {
    display: flex;
/*     width: 800px; */
    list-style: none;
/*     justify-content:space-around; */
/*     margin: 0 150px 0 100px; */

}

.footer-list-item {
    margin-right: 50px;
    font-size: 12px;
    font-weight: 500;
}
.footer-list-item:last-child {
/* margin-right:10px; */

}
.footer-tel-block {
}

.telefon {
    width:230px;
}

.tel-block-icon {
}

.tel-block-info {
    margin: 0 0 0 65px;
}
